:root {
  --empty-slider-bar: hsl(224, 65%, 95%);
  --full-slider-bar: hsl(174, 77%, 80%);
  --empty-slider-bar: hsl(224, 65%, 95%);
  --full-slider-bar: hsl(174, 77%, 80%);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Manrope, sans-serif, serif;
  background-image: url(../images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 15px;
}
.change-price {
  color: hsl(174, 85%, 49%);
  animation: change 2s ease forwards;
}
@keyframes change {
  0% {
    opacity: 0.5;
    color: hsl(174, 85%, 49%);
  }
  100% {
    /* opacity: 0;
    pointer-events: none; */
  }
}
.container {
  width: 40%;
  box-sizing: border-box;
  margin: 0 auto;
  height: 100vh;
  position: relative;
}
header {
  height: 30vh;
  box-sizing: border-box;
  color: hsl(227, 35%, 25%);
  background-image: url(../images/pattern-circles.svg);
  background-repeat: no-repeat;
  line-height: 1em;
  text-align: center;
  background-position: center;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
header h1 {
  font-weight: 800;
}
p {
  color: hsl(225, 20%, 60%);
  font-weight: 600;
}
section {
  box-sizing: border-box;
  padding: 3em;
  box-shadow: 0 0 30px 5px hsl(223, 50%, 87%);
  -webkit-box-shadow: 0 0 30px 5px hsl(223, 50%, 87%);
  -moz-box-shadow: 0 0 30px 5px hsl(223, 50%, 87%);
}
.price-per-views {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.page-views,
.monthly-container  { font-size: 17px; }
.price-per-views div {
  box-sizing: border-box;
  display: flex;
}
.price-per-views h2 {
  box-sizing: border-box;
  font-size: 36px;
  margin: 0;
  padding: 0 5px 0 0;
  color: hsl(227, 35%, 25%);
}
.range {
  margin: 2em 0;
}
.range input {
  width: 100%;
  -webkit-appearance: none;
  transition: background 450ms ease-in;
  border-radius: 5px;
  height: 8px;
  outline: none;
  background: linear-gradient(to right, var(--full-slider-bar) 0%, var(--full-slider-bar) 50%, var(--empty-slider-bar) 50%, var(--empty-slider-bar) 100%);
  -webkit-transition: 0.2s;
  cursor: pointer;
}
.range input:hover {
  opacity: 0.8;
}
.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border: 0;
  background: url("../images/icon-slider.svg") no-repeat center;
  box-shadow: 2px 10px 25px hsl(174, 85%, 49%);
  background-color: hsl(174, 85%, 49%);
  border-radius: 100%;
  cursor: pointer;
}
.range input::-moz-range-thumb {
  width: 40px;
  height: 20px;
  background: url("../images/icon-slider.svg");
  background-color: hsl(174, 95%, 50%);
  cursor: pointer;
}
/* input[type="range"]::-ms-fill-lower {
  height: max(calc(1em - 1px - 1px), 0px);
  border-radius: 0.5em 0 0 0.5em;
  margin: -1px 0 -1px -1px;
  background: #f81200;
  border: 1px solid #b2b2b2;
  border-right-width: 0;
} */
.bill-types {
  display: flex;
  justify-content: flex-end;
}
.bill-types p,
.bill-types div {
  margin-left: 1em;
}
.negative-sign { display: none; }
.checkbox {
  display: block;
  margin: 10px 0;
  padding: 5px 10px;
}
input[type="checkbox"] {
  position: relative;
  appearance: none;
  border: none;
  height: 20px;
  width: 40px;
  background-color: hsl(223, 50%, 87%);
  outline: none;
  border-radius: 10px;
  transition: .5s;
  cursor: pointer;
}
input:checked[type="checkbox"] {
  background-color: hsl(174, 95%, 50%);
}
input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 4px;
  bottom: 4px;
  left: 4px;
  background-color: hsl(224, 65%, 95%);
  transform: scale(1.1);
  transition: 0.5s;
}
input:checked[type="checkbox"]:before {
  left: 24px;
}
.discount-checked {
  background-color: hsl(15, 72%, 74%);
  color: hsl(15, 61%, 51%);
  border-radius: 10px;
  height: fit-content;
  font-size: 13px;
  padding: 2px 5px;
}
.discount {
  border-radius: 10px;
  height: fit-content;
  color: hsl(15, 100%, 70%);
  background-color: hsl(14, 92%, 95%);
  font-size: 13px;
  padding: 2px 5px;
}
.benefits {
  display: flex;
  justify-content: space-between;
}
.benefits aside {
  display: flex;
  justify-content: center;
  align-items: center;
}
aside button {
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 12px 35px;
  font-size: 15px;
  background-color: hsl(227, 35%, 25%);
  color: hsl(226, 100%, 87%);
  cursor: pointer;
}
aside button:hover {
  background-color: hsl(174, 95%, 50%);
  color: hsl(227, 35%, 25%);
}
ul {
  list-style-image: url("../images/icon-check.svg");
  color: hsl(225, 20%, 60%);
}
footer {
  color: hsl(225, 20%, 60%);
  font-size: 12px;
  font-weight: 400;
  margin: 0.5em auto;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
footer a {
  color: hsl(15, 100%, 70%);
}
